<template>
    <div class="columns">
        <div class="column">

            <button class="button is-fullwidth is-large is-link"
                    style="margin:5px 0;"
                    v-for="course in courses"
                    :key="course.id"
                    @click="selectCourse(course.id)">
            {{ course.name }}
            </button>

        </div>
    </div>
</template>

<script>
export default {
    props: ['courses'],
    methods: {
        selectCourse(courseId) {
            this.$emit('courseSelected', courseId)
        }
    }
}
</script>

<style>
</style>


