<template>
    <div class="columns">

        <div class="column">

            <nav class="panel">

                <p class="panel-heading">Sections</p>

                <div class="panel-block">
                    <p class="control has-icons-right">
                        <input type="text" class="input is-large is-link" v-model="sectionFilter" placeholder="Filter Sections">
                        <span class="icon is-right is-large">
                            <i class="fas fa-filter"></i>
                        </span>
                    </p>
                </div>

                <a class="panel-block section-title"
                    v-for="section in sectionList"
                    :key="section.id"
                    @click="selectSection(section.id)">
                    {{ section.name }}
                </a>

                <div class="panel-block"
                     v-if="sectionFilter.length > 0">
                    <button class="button is-fullwidth is-large"
                            :class="{'is-warning': sectionFilter.length > 0}"
                            @click="sectionFilter = ''">
                        Clear filter
                    </button>
                </div>

            </nav>

        </div>

    </div>
</template>

<script>
export default {
    props: ['sections'],
    data() {
        return {
            sectionLoading: 0,
            sectionFilter: ""
        }
    },
    computed: {
        sectionList() {
            return this.sections.filter((section) => {
                return section.name.toLowerCase().indexOf(this.sectionFilter.toLowerCase()) > -1;
            })
        }
    },
    methods: {
        selectSection(sectionId) {
            this.sectionLoading = sectionId;
            this.$emit('sectionSelected', sectionId);
        }
    }
}
</script>

<style scoped>
    .section-title {
        font-size: 1.5rem;
    }
</style>


