<template>
    <div class="columns">
        <div class="column">
            <div class="table-container">
                <table class="table is-hoverable is-fullwidth is-narrow word-list-table table-container">
                    <thead>
                        <tr>
                            <th>{{ targetLang }}</th>
                            <th>{{ lang }}</th>
                            <th style="text-align:center;">
                                Selected
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th style="text-align:center;">
                                <label class="checkbox">
                                    <input type="checkbox" id="selectAll" @change="selectAll()" v-model="allSelected">
                                    Select all
                                </label>
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr v-for="word in words" :key="word.id">
                            <td>
                                {{ word.word }}
                            </td>
                            <td>
                                <span v-for="(t, idx) in word.translations"
                                      :key="idx">
                                    <span v-if="idx + 1 < word.translations.length">{{ t.translation }}; </span>
                                    <span v-else>{{ t.translation }}</span>
                                </span>
                            </td>
                            <td style="text-align:center;vertical-align:middle;">
                                <label class="checkbox" style="width:100%;height:100%;">
                                    <input type="checkbox" :id="word.id" :value="word" v-model="selectedWords" checked>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button class="button is-large is-fullwidth is-link" 
                    :disabled="selectedWords.length == 0"
                    @click="startSection(selectedWords)">Learn</button>
        </div>
    </div>
</template>

<script>
export default {
    props: ['words', 'lang', 'targetLang'],
    data() {
        return {
            selectedWords: this.words,
        }
    },
    computed: {
        allSelected: {
            get() {
                return this.selectedWords.length === this.words.length;
            },
            set(selected) {
                if (selected) {
                    this.selectedWords = this.words.slice();
                } else {
                    this.selectedWords = [];
                }
            }
        }
    },
    methods: {
        startSection(selectedWords) {
            this.$emit('sectionStart', selectedWords);
        },
        selectAll() {
            if (this.allSelected) {
                this.selectedWords = this.words;
            } else {
                this.selectedWords = [];
            }
        }
    }
}
</script>

<style scoped>
    .word-list-table {
        font-size: 1.2rem;
    }
</style>