<template>
    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">

            <header class="modal-card-head">
                <p class="modal-card-title">Word Practice</p>
                <button class="delete" aria-label="close"></button>
            </header>

            <section class="modal-card-body">
                <section class="hero">
                    <div class="hero-body">
                        <div class="container has-text-centered">
                            <h1 class="title">
                                {{ word.word }}
                            </h1>
                        </div>
                    </div>
                </section>
            </section>

            <footer class="modal-card-foot">

            </footer>

        </div>
    </div>
</template>

<script>
export default {
    props: ['word', 'reversed']
}
</script>

<style>
</style>


