<template>
    <div class="columns">
        <div class="column is-2"></div>

        <div class="column is-8">

            <transition enter-active-class="animated flipInX" appear>
            <article class="message is-medium is-link">

                <div class="message-header">
                    <p>Word {{ index + 1 }} / {{ wordCount }}</p>
                </div>

                <div class="message-body" v-if="!reversed">
                    {{ word.word }}
                </div>

                <div class="message-body" v-else>
                    <span v-for="(t, i) in word.translations" :key="i">
                        <span v-if="i + 1 < word.translations.length">{{ t.translation }}; </span>
                        <span v-else>{{ t.translation }}</span>
                    </span>
                </div>

            </article>
            </transition>

            <div class="field is-grouped">

                <p class="control is-expanded">

                    <input v-if="!reversed"
                           type="text" 
                           class="input is-large"
                           :placeholder="lang"
                           :class="{'is-danger animated shake': isEmpty}"
                           v-model="inputWord"
                           v-focus
                           @keyup.enter.prevent="checkWord()">

                    <input v-else
                           type="text" 
                           class="input is-large"
                           :placeholder="targetLang"
                           :class="{'is-danger animated shake': isEmpty}"
                           v-model="inputWord"
                           v-focus
                           @keyup.enter.prevent="checkWordReversed()">

                </p>

                <p class="control">

                    <button class="button is-large is-link"
                            v-if="!reversed"
                            @click.prevent="checkWord()">
                            Check
                    </button>
                    <button class="button is-large is-link"
                            v-else
                            @click.prevent="checkWordReversed()">
                            Check
                    </button>

                </p>
            </div>

        </div>

        <div class="column is-2"></div>
    </div>
</template>

<script>
export default {
    props: ['word', 'index', 'reversed', 'wordCount', 'lang', 'targetLang'],
    data() {
        return {
            inputWord: "",
            isEmpty: false
        }
    },
    methods: {
        checkWord() {
            let wordToCheck = this.inputWord.trim().toLowerCase();
            let userInput = this.inputWord.trim();
            let correct = false;
            if (this.inputWord.length === 0) {
                this.isEmpty = true;
                return;
            }

            this.word.translations.forEach((t) => {
                if (wordToCheck == t.translation.toLowerCase()) {
                    correct = true;
                }
            });

            this.$emit('wordEntered', {'correct': correct, 'input': userInput});
        },
        checkWordReversed() {
            let wordToCheck = this.inputWord.trim().toLowerCase();
            let userInput = this.inputWord.trim();
            let correct = false;
            if (this.inputWord.length === 0) {
                this.isEmpty = true;
                return;
            }

            if (wordToCheck == this.word.word.toLowerCase()) {
                correct = true;
            }

            this.$emit('wordEntered', {'correct': correct, 'input': userInput});
        },
        encodeUtf8(s) {
            return unescape(encodeURIComponent(s));
        },
        decodeUtf8(s) {
            return decodeURIComponent(escape(s));
        }
    }
}
</script>

<style>
</style>


