<template>
    <div class="">

        <div class="columns" v-if="!isCompleted">
            <div class="column is-2"></div>
            <div class="column is-8" v-if="!isComplete && !reversed">
                <transition enter-active-class="animated tada" appear>
                    <article class="message is-medium is-success" v-if="isCorrect">
                        <div class="message-header">
                            <p>Correct!</p>
                        </div>
                        <div class="message-body">
                            <p>Good job!</p>
                        </div>
                    </article>
                </transition>

                <transition enter-active-class="animated shake" appear>
                    <article class="message is-medium is-danger" v-if="!isCorrect">
                        <div class="message-header">
                            <p>Incorrect!</p>
                        </div>
                        <div class="message-body">
                            <template v-if="word.translations.length > 1">
                                <p>Correct answer(s):
                                    <span v-for="(trs, idx) in word.translations" :key="idx">
                                        <span v-if="idx + 1 < word.translations.length">{{ trs.translation }}, </span>
                                        <span v-else>{{ trs.translation }}</span>
                                    </span>
                                </p>
                            </template>
                            <template v-else>
                                <p>Correct answer: {{ word.translations[0].translation }}</p>
                            </template>
                        </div>
                    </article>
                </transition>
                <div class="buttons is-right">
                    <button class="button is-link is-large" v-focus @click.prevent="doContinue()" @keyup.enter="doContinue()">Continue</button>
                </div>
            </div>
            <div class="column is-8" v-if="!isComplete && reversed">
                <transition enter-active-class="animated tada" appear>
                <article class="message is-medium is-success" v-if="isCorrect">
                    <div class="message-header">
                        <p>Correct!</p>
                    </div>
                    <div class="message-body">
                        <p>Good job!</p>
                    </div>
                </article>
                </transition>
                <transition enter-active-class="animated shake" appear>
                <article class="message is-medium is-danger" v-if="!isCorrect">
                    <div class="message-header">
                        <p>Incorrect!</p>
                    </div>
                    <div class="message-body">
                        <p>Correct answer: {{ word.word }}</p>
                    </div>
                </article>
                </transition>
                <div class="buttons is-right">
                    <button class="button is-link is-large" v-focus @click.prevent="doContinue()" @keyup.enter="doContinue()">Continue</button>
                </div>
            </div>
            <div class="column is-2"></div>
        </div>

        <transition enter-active-class="animated zoomInDown" appear>
        <div class="columns" v-if="isComplete">

            <div class="column" v-if="isComplete">
                <article class="message is-medium is-primary">
                    <div class="message-header">
                        <p>All done!</p>
                    </div>
                    <div class="message-body" v-if="correctAnswers == numWords">
                        <p>Good job, you got them all right!</p>
                        <p>There's not much else to say at this point other than keep up the good work!
                            If you want to make sure that this wasn't just a fluke, feel free to press the 
                            button below to restart this section.</p>
                    </div>
                    <div class="message-body" v-else>
                        <p>You remembered the correct word {{ correctAnswers }} out of {{ numWords }} times.</p>
                        <p>Here are the words that were causing you trouble:</p>
                        <hr />
                        <div class="table-container">
                            <table class="table is-hoverable is-fullwidth table-container">
                                <thead>
                                    <tr>
                                        <th>Korean</th>
                                        <th>English</th>
                                        <th>You wrote</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="word in incorrectWords" :key="word.id">
                                        <td>{{ word.word }}</td>
                                        <td>
                                            <span v-for="(trs, idx) in word.translations" :key="idx">
                                                <span v-if="idx + 1 < word.translations.length">{{ trs.translation }}, </span>
                                                <span v-else>{{ trs.translation }}</span>
                                            </span>
                                        </td>
                                        <td>
                                            {{ word.input }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </article>
                <div class="buttons is-right">
                    <button class="button is-warning is-large" 
                            v-if="correctAnswers < numWords"
                            @click.prevent.stop="doRestartIncorrect()">Restart Incorrect Only</button>
                    <button class="button is-link is-large" @click.prevent.stop="doRestart()">Restart</button>
                </div>
            </div>
        </div>
        </transition>
    </div>
</template>

<script>
export default {
    props: ['word', 'isCorrect', 'isComplete', 'correctAnswers', 'numWords', 'incorrectWords', 'reversed'],
    methods: {
        doContinue() {
            this.$emit('doContinue', null);
        },
        doRestart() {
            this.$emit('doRestart', null);
        },
        doRestartIncorrect() {
            this.$emit('doRestartIncorrect', null);
        }
    }
}
</script>

<style>
</style>