<template>
  <div id="app">

    <div class="section">

      <div class="container">

        <h1 class="title is-1 shadowy">
          <span class="honk-yellow">h</span><span class="honk-green">o</span><span class="honk-blue">n</span><span class="honk-red">k</span>
        </h1>

        <template v-if="isLoading">

          <h1 class="title is-4" style="text-align:center;">
            <button class="button is-loading is-large" style="border:none;vertical-align:middle;"></button>
            Loading
          </h1>

        </template>

        <template v-else>

          <nav class="breadcrumb has-arrow-separator is-medium" aria-label="breadcrumb">
            <ul>
              <li :class="{'is-active': !selectedCourse}"
                  v-if="courses.length > 1"><a @click="resetCourse()">Courses</a></li>
              <li v-if="selectedCourse"
                  :class="{'is-active': selectedCourse && !selectedSection}"><a @click="resetSection()">{{ selectedCourse.name }}</a></li>
              <li v-if="selectedSection"
                  :class="{'is-active': selectedSection && !isRunning}"><a @click="showCurrentSection()">{{ selectedSection.name }}</a></li>
            </ul>
          </nav>

          <template v-if="!selectedCourse">
            <course-list 
              :courses="courses"
              @courseSelected="setCourse($event)"
            />
          </template>

          <template v-else>

            <h4 v-if="!isOrderReversed && !isRunning" class="subtitle">
              Quizzing order: 
              {{ selectedCourse.target_language }}  
              <i class="fas fa-exchange-alt" style="cursor:pointer;" @click="isOrderReversed = !isOrderReversed"></i>
              {{ selectedCourse.language}}
            </h4>
            <h4 v-if="isOrderReversed && !isRunning" class="subtitle is-warning">
              Quizzing order: 
              {{ selectedCourse.language }} 
              <i class="fas fa-exchange-alt" style="cursor:pointer;" @click="isOrderReversed = !isOrderReversed"></i>
              {{ selectedCourse.target_language}}
            </h4>

          </template>

          <template v-if="selectedCourse && !selectedSection">
            <section-list 
              :sections="selectedCourse.sections"
              @sectionSelected="getSection($event)"
            />
          </template>

          <template v-if="selectedSection && !isRunning">
            <word-list 
              :words="selectedSection.words"
              :lang="selectedCourse.language"
              :targetLang="selectedCourse.target_language"
              @sectionStart="startSection($event)"
            />
          </template>

          <template v-if="words.length > 0 && isRunning">
            <word-input 
              v-if="!messageVisible"
              :word="words[currentIndex]"
              :lang="selectedCourse.language"
              :targetLang="selectedCourse.target_language"
              :index="currentIndex"
              :reversed="isOrderReversed"
              :wordCount="words.length"
              @wordEntered="handleInput($event)"
            />
            <word-message 
              v-if="messageVisible"
              :word="words[currentIndex]"
              :isCorrect="isCorrect"
              :isComplete="isComplete"
              :correctAnswers="correctCount"
              :numWords="words.length"
              :incorrectWords="incorrectWords"
              :reversed="isOrderReversed"
              @doContinue="nextWord()"
              @doRestart="handleRestart()"
              @doRestartIncorrect="handleRestartIncorrect()"
            />
          </template>

        </template>

      </div>

    </div>

  </div>
</template>

<script>
import axios from 'axios';
import CourseList from './components/CourseList.vue';
import SectionList from './components/SectionList.vue';
import WordList from './components/WordList.vue';
import WordInput from './components/WordInput.vue';
import WordMessage from './components/WordMessage.vue';

export default {
  name: 'app',
  data () {
    return {
      isLoading: true,
      isCourseSelectVisible: false,
      hasError: false,
      errorMessage: "",
      courseName: "Placeholder",
      courses: null,
      selectedCourse: null,
      selectedSection: null,
      words: [],
      isRunning: false,
      messageVisible: false,
      currentIndex: 0,
      incorrectWords: [],
      isOrderReversed: false,
      isOrderRandom: false,
      isCorrect: false,
      correctCount: 0
    }
  },
  methods: {
    getCourses() {
      axios.get('https://api.honk.fr/onoki/courses')
        .then((response) => {
          this.isLoading = false;
          this.courses = response.data.courses;
          if (this.courses.length === 1) {
            this.selectedCourse = this.courses[0];
            if (this.selectedCourse.sections.length === 1) {
              this.getSection(this.selectedCourse.sections[0].id);
            }
          } else {
            this.isCourseSelectVisible = true;
          }
        })
        .catch((error) => {
          this.hasError = true;
          this.errorMessage = "An error occurred while fetching a list of courses. Please try again later.";
        });
    },
    getSection(_id) {
      this.isLoading = true;
      axios.get('https://api.honk.fr/onoki/section/' + _id)
        .then((response) => {
          this.selectedSection = response.data;
          this.words = this.selectedSection.words;
          this.isLoading = false;
        })
        .catch((error) => {
          this.hasError = true;
          this.errorMessage = "An error occurred while fetching the section. Please try again later.";
          this.isLoading = false;
        })
    },
    setCourse(courseId) {
      this.courses.forEach((element) => {
        if (element.id === courseId) {
          this.selectedCourse = element;
        }
      });
    },
    resetCourse() {
      this.selectedCourse = null;
      this.words = [];
      this.incorrectWords = [];
      this.currentIndex = 0;
      this.messageVisible = false;
      this.correctCount = 0;
      this.isRunning = false;
    },
    resetSection() {
      this.selectedSection = null;
      this.words = [];
      this.incorrectWords = [];
      this.currentIndex = 0;
      this.messageVisible = false;
      this.correctCount = 0;
      this.isRunning = false;
    },
    startSection(words) {
      if (words.length < 1) {
        return;
      }
      this.words = words;
      this.shuffleArray(this.words);
      this.isRunning = true;
    },
    nextWord() {
      if (this.currentIndex + 1 < this.words.length) {
        this.messageVisible = false;
      }
      this.currentIndex++;
    },
    handleRestart() {
      this.currentIndex = 0;
      this.messageVisible = false;
      this.correctCount = 0;
      this.incorrectWords = [];
      this.shuffleArray(this.words);
    },
    handleRestartIncorrect() {
      this.words = this.incorrectWords.slice();
      this.currentIndex = 0;
      this.messageVisible = false;
      this.correctCount = 0;
      this.incorrectWords = [];
      this.shuffleArray(this.words);
    },
    handleInput(data) {
      if (data.correct) {
        this.correctCount++;
      } else {
        let incorrectWord = this.words[this.currentIndex];
        incorrectWord.input = data.input;
        this.incorrectWords.push(incorrectWord);
      }
      this.messageVisible = true;
      this.isCorrect = data.correct;
    },
    showCurrentSection() {
      this.words = this.selectedSection.words;
      this.correctCount = 0;
      this.incorrectWords = [];
      this.messageVisible = false;
      this.currentIndex = 0;
      this.isRunning = false;
    },
    shuffleArray(arr) {
      let ctr = arr.length, temp, index;
      while (ctr > 0) {
        index = Math.floor(Math.random() * ctr);
        ctr--;
        temp = arr[ctr];
        arr[ctr] = arr[index];
        arr[index] = temp;
      }
      return arr;
    }
  },
  components: {
    courseList: CourseList,
    sectionList: SectionList,
    wordList: WordList,
    wordInput: WordInput,
    wordMessage: WordMessage
  },
  computed: {
    isComplete() {
      return this.currentIndex === this.words.length;
    }
  },
  mounted() {
    this.getCourses();
  }
}
</script>

<style>
</style>
